<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>User Manager with SpringBoot</title>
</head>
<body>
<div class="container col-md-6">
    <div class="col-md-auto">
        <h2>Update User information</h2>
        <form th:object="${user}" th:action="@{/save}" method="post">
            <input type="hidden" th:field="*{id}">
            <div>
                <lable th:text="Name" th:for="name"></lable>
                <input type="text" class="form-control" th:field="*{name}" placeholder="Name"/>
            </div>
            <div style="clear: both;display: block;height: 10px"></div>

            <div>
                <lable th:text="Email" th:for="email"></lable>
                <input type="text" class="form-control" th:field="*{email}" placeholder="Email"/>
            </div>
            <div style="clear: both;display: block;height: 10px"></div>

            <div>
                <lable th:text="Phone" th:for="phone"></lable>
                <input type="text" class="form-control" th:field="*{phone}" placeholder="Phone"/>
            </div>
            <div style="clear: both;display: block;height: 10px"></div>

            <input type="submit" value="Update data" class="btn btn-success">

        </form>

    </div>
</div>


</body>
</html>