<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>User Manager with SpringBoot</title>
</head>
<body>
<div class="container col-6">
    <h2>User Manager</h2>
    <form th:object="${search}" th:action="@{/search}" method="post">
        <input type="text" name="name" id="name" th:value="${search}">
        <input type="submit" value="search">
        <div th:if="${not#lists.isEmpty(search)}">
            <h2>Students List</h2>
            <table class="table table-striped">
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>phone</th>
                    <th>email</th>
                </tr>
                <tr th:each="search:${search}">
                    <td th:text="${search.id}">id</td>
                    <td th:text="${search.name}">name</td>
                    <td th:text="${search.phone}">phone</td>
                    <td th:text="${search.email}">email</td>
                </tr>
            </table>
        </div>
    </form>
    <table class="table table-active">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>CRUD</th>
        </tr>
        <tr th:each="users:${users}">
            <td th:text="${users.name}"></td>
            <td th:text="${users.email}"></td>
            <td th:text="${users.phone}"></td>
            <td>
                <a th:href="@{/edit?id={id}(id=${users.id})}" class="btn btn-danger">Edit</a>
                <a th:href="@{/delete?id={id}(id=${users.id})}" class="btn btn-warning">Delete</a>
            </td>
        </tr>
    </table>
    <a href="/add" class="btn btn-success">Create New User</a>
</div>

</body>
</html>